/*Basic CSS for overall layout*/

span {
    text-transform: capitalize;
    font-weight:100;
}

body {
    text-align: center;
    background-image:url("images/pokedex.png");
    font-family: 'Lato', sans-serif;
    color: white;
}

#logo{
    width:50%;
}

#pokemonimg img {
    background-image:url("images/pk_bg.jpg");
    background-size:100%;
    border-radius:50px;
}

#pokeball {
    position:relative;
    bottom:4px;
}

#inputbox {
    padding:10px;
}

#NameInput {
    border-radius:50px;
    width:50%;
    text-align:center;
}

button{
    color:white;
    border-radius:50px;
    background-image: linear-gradient(to left, #18cca8, #a0d996);
    padding:10px;
}

#pokemonstatchart{
    font-size:11px;
    text-transform: capitalize;
    margin-left: auto;
    margin-right: auto;
}

#disclaimer {
    font-size:10px;
}

#damageoverview {
    text-align:center;
}

h4 {
    font-weight:100;
    color: rgb(33,131,156);
    padding:3px 30px 3px 30px;
    font-size:20px;
    border-radius: 10px;
    background-color: white;
    border: 1px solid rgb(33,131,156);
    box-shadow: 0 0 0 2px rgba(255,255,255,0.8);
    margin-left: auto;
    margin-right: auto;
}

#screen {
    margin:2%;
    border:5px solid white;
    overflow: scroll;
    padding:10px;
    border-radius:10px;
    background-color: rgba(186, 186, 186,0.5);
}

/*CSS setting to group up the overview by respective type for easy differentiation*/

.toandfrom {
    font-weight: normal;
}

#pokemontype1:empty{
    border: none;
}
#pokemontype1 {
    border : 2px solid rgb(33,131,156);
    padding : 1px 3px 1px 3px;
    border-radius: 10px;
    margin:3px;
}

#pokemontype2:empty{
    border: none;
}
#pokemontype2 {
    border : 2px solid white;
    padding : 1px 3px 1px 3px;
    border-radius: 10px;
    margin:3px;
}

.ov1:empty {
    border:none;
}

.ov1 {border : 1px solid rgb(33,131,156);
    padding : 1px 3px 1px 3px;
    border-radius: 10px;
}

.ov2:empty { 
    border: none;
}

.ov2 {
    border : 1px solid white;
    padding : 1px 3px 1px 3px;
    border-radius: 10px;
}

@media (max-width:422px) {
    #screen {
        font-size : 80%;
    }
}