/*Basic CSS for overall layout*/

span {
    text-transform: capitalize;
    font-weight:100;
}

body {
    text-align: center;
    background-image:url("background/pokedex.png");
    font-family: 'Lato', sans-serif;
    color: white;
}

#logo{
    width:50%;
}

#pokemonimg img {
    background-image:url("background/pk_bg.jpg");
    background-size:100%;
    border-radius:50px;
}

#pokeball {
    position:relative;
    bottom:4px;
}

#inputbox {
    padding:10px;
}

#NameInput {
    border-radius:50px;
    width:50%;
    text-align:center;
}

button{
    color:white;
    border-radius:50px;
    background-image: linear-gradient(to left, #18cca8, #a0d996);
    padding:10px;
}

#pokemonstatchart{
    font-size:11px;
    text-transform: capitalize;
}

#disclaimer {
    font-size:10px;
}

#damageoverview {
    color: #444444;
    text-align:center;
}

h4 {
    font-weight:100;
    color: rgb(33,131,156);
    padding:3px;
    font-size:20px;
    border-radius: 10px;
    background-color: white;
    border: 1px solid rgb(33,131,156);
    box-shadow: 0 0 0 2px rgba(255,255,255,0.8);
}

#screen {
    margin:5%;
    border:10px solid white;
    overflow: scroll;
    padding:10px;
    border-radius:10px;
    background-color: rgba(186, 186, 186,0.5);
}

/*CSS setting to group up the overview by respective type*/

#pokemontype1:empty{
    border: none;
}
#pokemontype1 {
    border : 1px solid white;
    padding : 1px 3px 1px 3px;
    border-radius: 10px;
    margin:3px;
}

#pokemontype2:empty{
    border: none;
}
#pokemontype2 {
    border : 1px solid white;
    padding : 1px 3px 1px 3px;
    border-radius: 10px;
    margin:3px;
}

#doubledamagefrom:empty { 
    border: none;
}
#doubledamagefrom {
    border : 1px solid white;
    padding : 1px 3px 1px 3px;
    border-radius: 10px;
}


#doubledamagefrom2:empty { 
    border: none;
}
#doubledamagefrom2 {
    border : 1px solid white;
    padding : 1px 3px 1px 3px;
    border-radius: 10px;
}

#doubledamageto:empty { 
    border: none;
}
#doubledamageto {
    border : 1px solid white;
    padding : 1px 3px 1px 3px;
    border-radius: 10px;
}


#doubledamageto2:empty { 
    border: none;
}
#doubledamageto2 {
    border : 1px solid white;
    padding : 1px 3px 1px 3px;
    border-radius: 10px;
}

#halfamagefrom:empty { 
    border: none;
}
#halfdamagefrom {
    border : 1px solid white;
    padding : 1px 3px 1px 3px;
    border-radius: 10px;
}


#halfdamagefrom2:empty { 
    border: none;
}
#halfdamagefrom2 {
    border : 1px solid white;
    padding : 1px 3px 1px 3px;
    border-radius: 10px;
}

#halfdamageto:empty { 
    border: none;
}
#halfdamageto {
    border : 1px solid white;
    padding : 1px 3px 1px 3px;
    border-radius: 10px;
}


#halfdamageto2:empty { 
    border: none;
}

#halfdamageto2 {
    border : 1px solid white;
    padding : 1px 3px 1px 3px;
    border-radius: 10px;
}


#nodamagefrom:empty { 
    border: none;
}
#nodamagefrom {
    border : 1px solid white;
    padding : 1px 3px 1px 3px;
    border-radius: 10px;
}


#nodamagefrom2:empty { 
    border: none;
}
#nodamagefrom2 {
    border : 1px solid white;
    padding : 1px 3px 1px 3px;
    border-radius: 10px;
}

#nodamageto:empty { 
    border: none;
}
#nodamageto {
    border : 1px solid white;
    padding : 1px 3px 1px 3px;
    border-radius: 10px;
}


#nodamageto2:empty { 
    border: none;
}

#nodamageto2 {
    border : 1px solid white;
    padding : 1px 3px 1px 3px;
    border-radius: 10px;
}